/* src/components/Features.css */

.features-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #27406F;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.feature-item {
  background-color: white;
 
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.feature-item h2 {
  font-size: 1.5rem;
}

.feature-item p {
  font-size: 1rem;
}

.feature-item img {
  width: 70px;
  margin-bottom: 15px;
}
